@model AracSistem.Models.Stok
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderCss{
    <link href="~/Content/css/Shared/_Layout.css" rel="stylesheet" />
    <link href="~/Content/css/Home/Stocks/addStocks/addStocks.css" rel="stylesheet" />
}
<section>
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Stok")">Stoklar</a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("Details","Stok")">Stoklar</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Stok Düzenle</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a href="javascript:;" onclick="EditEkle()" class="btn btn-success">Güncelle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="mb-0" style="">Stok Düzenle</h2>
                            </div>
                        </div>
                    </div>
                    <!-- end: Card header -->
                    <!-- card body -->
                    <div class="card-body">
                        <form>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" id="input-StokId" class="form-control" value="@Model.Stok_Id" style="display:none" />
                                            <label class="form-control-label" for="input-username">Kategori</label>
                                            <input type="text" id="input-kategori" class="form-control" value="@Model.Kategori.Kategori_Ad">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-email">Birim</label>
                                            <input type="text" id="input-birim" class="form-control" value="@Model.Birim.Birim_Ad">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">BARKOD</label>
                                            <input type="text" id="input-barkod" class="form-control" value="@Model.Stok_Barkod">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-email">STOK AD</label>
                                            <input type="text" id="input-stokAd" class="form-control" value="@Model.Stok_Ad">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-first-name">ALIŞ FIYAT	</label>
                                            <input type="text" id="input-alisFiyat" class="form-control" value="@Model.Stok_AlisFiyat">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">SATIŞ FIYAT	</label>
                                            <input type="text" id="input-satisFiyat" class="form-control" value="@Model.Stok_SatisFiyat">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    <!-- end: card body -->
                    <!-- Card footer -->
                    <div class="card-footer py-4">
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

@section CreateStok{
    <script>
        function EditEkle() {
            data = {
                Stok_Id: $('#input-StokId').val(),
                Kategori_Id: 1,
                Birim_Id: 1,
                Stok_Barkod: $('#input-barkod').val(),
                Stok_Ad: $('#input-stokAd').val(),
                Stok_AlisFiyat: $('#input-alisFiyat').val(),
                Stok_SatisFiyat: $('#input-satisFiyat').val(),
            }
            $.ajax({
                url: '/Stok/Edit/',
                type: 'POST',
                data: data,
                dataType: 'json',
                success: function (data) {
                    if (data.Stok_Id > 0) {
                        toastr.success('Başarıyla Güncellendi! Yönlendiriliyorsunuz');
                         setTimeout(function () {
                             window.location = "/Stok"
                        }, 250)
                    }
                },
                error: function (hata, ajaxOptions, thrownError) {
                    alert(hata.status);
                    alert(thrownError);
                    alert(hata.responseText);
                }
            });
        }
    </script>
}