@model AracSistem.ViewModels.ViewResult<AracSistem.Models.Stok>

@{
    ViewBag.Title = "Stocks";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@section HeaderCss{

    <link href="~/Content/css/Home/Stocks/Stocks.css" rel="stylesheet" />
    <link href="~/Content/css/Shared/_Layout.css" rel="stylesheet" />
}

<section>
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Stoklar</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a href="@Url.Action("Create","Stok")" class="btn btn-sm btn-neutral">Ekle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="mb-0" style="text-align:left;font-weight:bold">Stok Bilgileri</h2>
                            </div>
                            <div class="col-md-6 searc">
                                <form class="navbar-search navbar-search-light mr-sm-3" id="navbar-search-main">
                                    <div class="form-group mb-0">
                                        <div class="input-group input-group-alternative input-group-merge">
                                            <input class="form-control" placeholder="Stok Ara *" type="text">
                                            <div class="input-group-prepend">
                                                <a href="#" class="input-group-text"><i class="fas fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end: Card header -->
                    <!-- Light table -->
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="sort" data-sort="completion">#</th>
                                    <th scope="col" class="sort" data-sort="name">Barkod</th>
                                    <th scope="col" class="sort" data-sort="budget">Stok Ad</th>
                                    <th scope="col" class="sort" data-sort="status">Alış Fiyat</th>
                                    <th scope="col" class="sort" data-sort="status">Satış Fiyat</th>
                                    <th scope="col" class="sort" data-sort="status"></th>
                                </tr>
                            </thead>
                            <tbody class="list ayrinti">

                                @foreach (var item in Model.Veri)
                                {
                                    <tr>
                                        <th scope="row">
                                            <div class="media align-items-center">
                                                <div class="media-body">
                                                    <span class="name mb-0 text-sm">@item.Stok_Id</span>
                                                </div>
                                            </div>
                                        </th>

                                        <th scope="row">
                                            <div class="media align-items-center">
                                                <div class="media-body">
                                                    <span class="name mb-0 text-sm">@item.Stok_Barkod</span>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="budget">
                                            @item.Stok_Ad
                                        </td>
                                        <td class="budget">
                                            @item.Stok_AlisFiyat <span class="name mb-0 text-sm cssBold">₺</span>
                                        </td>
                                        <td class="budget">
                                            @item.Stok_SatisFiyat <span class="name mb-0 text-sm cssBold">₺</span>
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-sm btn-icon-only text-light" href="@Url.Action("Details", "Stok", new { id = item.Stok_Id })" role="button" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- Card footer -->
                    <div class="card-footer py-4">
                        <nav aria-label="...">
                            <ul class="pagination justify-content-end mb-0">
                                <li class="page-item">
                                    @if (Model.aktifSayfa == 1)
                                    {
                                        <a onclick="@Url.Action("Index","Stok")" class="page-link" href="javascript:void(0)" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    }
                                    else
                                    {
                                        if (Model.aktifSayfa > 0)
                                        {
                                            <a onclick="@Url.Action("Index","Stok",new { sayfa=Model.aktifSayfa-1})" class="page-link" href="javascript:void(0)" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        }
                                    }

                                </li>
                                

                                @for (int i = 0; i < Math.Ceiling(decimal.Parse(Convert.ToDecimal(Model.toplamKayit / 10).ToString())); i++)
                                {

                                    if (i == 0)
                                    {
                                        <li class="page-item @(Model.aktifSayfa == i ? "active":"")"><a href="@Url.Action("Index","Stok")" class="page-link">@(i+1)</a></li>
                                    }
                                    else
                                    {
                                        <li class="page-item @(Model.aktifSayfa == i ? "active":"")"><a href="@Url.Action("Index","Stok",new { sayfa=i})" class="page-link">@(i+1)</a></li>
                                    }

                                }
                                @if (Math.Ceiling(decimal.Parse(Convert.ToDecimal(Model.toplamKayit / 10).ToString())) > Model.aktifSayfa + 1)
                                {
                                    <li class="page-item">
                                        <a onclick="@Url.Action("Index","Stok",new { sayfa=Model.aktifSayfa+1})" class="page-link" href="javascript:void(0)" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                }

                                @*<li class="page-item">
            <a class="page-link" href="#">
                <i class="fas fa-angle-right"></i>
                <span class="sr-only">Next</span>
            </a>
        </li>*@
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
