
@{
    ViewBag.Title = "updateStocks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderCss{
    <link href="~/Content/css/Home/Stocks/updateStocks/updateStocks.css" rel="stylesheet" />
    <link href="~/Content/css/Shared/_Layout.css" rel="stylesheet" />
}

<section>
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("invoices","Home")">Stoklar</a></li>
                                <li class="breadcrumb-item "><a href="@Url.Action("StocksDetails","Home")"> Stok Detay</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Stok Düzenle</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a href="@Url.Action("StocksDetails","Home")" class="btn btn-sm btn-neutral">Kaydet</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="mb-0" style="">Stok Düzenle</h2>
                            </div>
                        </div>
                    </div>
                    <!-- end: Card header -->
                    <!-- card body -->
                    <div class="card-body">
                        <form>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">BARKOD</label>
                                            <input type="text" id="input-username" class="form-control" placeholder="Barkod girinz  *" value="15625572">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-email">STOK AD</label>
                                            <input type="email" id="input-email" class="form-control" placeholder="Stok giriniz  *" value="Far">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-first-name">ALIŞ FIYAT	</label>
                                            <input type="text" id="input-first-name" class="form-control" placeholder="Alış fiyatı giriniz  *" value="56.000 ₺	">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">SATIŞ FIYAT	</label>
                                            <input type="text" id="input-last-name" class="form-control" placeholder="Satış fiyatı giriniz  *" value="62.000 ₺	">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-first-name">KDV ORAN</label>
                                            <input type="text" id="input-first-name" class="form-control" placeholder="Kadv oranı giriniz  *" value="18 %	">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">OTV ORAN</label>
                                            <input type="text" id="input-last-name" class="form-control" placeholder="Otv oranı giriniz  *" value="6 %	    ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end: card body -->
                    <!-- Card footer -->
                    <div class="card-footer py-4">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>



